<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 파일 설정 -->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>SimpleControl</servlet-name>
  	<servlet-class>mvc2.simple.SimpleControl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SimpleControl</servlet-name>
  	<url-pattern>/SimpleControl</url-pattern>
  	<url-pattern>*.yim</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>GuestControl</servlet-name>
  	<servlet-class>mvc.guest.control.GuestControl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GuestControl</servlet-name>
  	<url-pattern>/GuestControl</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>BoardControl</servlet-name>
  	<servlet-class>boardMvc.control.BoardControl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BoardControl</servlet-name>
  	<url-pattern>/BoardControl</url-pattern>
  	<url-pattern>*.doo</url-pattern>
  </servlet-mapping>
  
</web-app>